*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

*::selection {
  color: #ffd700;
  background: #000;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.48;
  background: url("./src/images/first-screen.png") no-repeat top center;
  padding-top: 20px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__line {
  display: flex;
  justify-content: space-between;
}

.header__btn-menu {
  background-color: transparent;
  border: none;
}

.header__btn-menu:hover {
  cursor: pointer;
}

.header__btn-img {
  display: inline-block;
  background: url("./src/images/icons/menu-burger.png") no-repeat;
  width: 50px;
  height: 50px;
}

.first-screen__line {
  display: grid;
  grid-template-rows: minmax(460px, max-content) minmax(300px, max-content);
  align-items: center;
  row-gap: 50px;
}

.first-screen__content {
  max-width: 735px;
  margin: 0 auto;
  text-align: center;
}

.first-screen__content-title {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 30px;
}

.first-screen__content-subtitle {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.first-screen__achievement {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(86px, 1fr) minmax(43px, auto) minmax(22px, auto);
  align-items: center;
  justify-items: center;
  padding: 57px 130px;
  text-align: center;
  background-color: #F7F7F7;
}

.first-screen__achivement-item-amount {
  font-size: 72px;
  color: #F7654A;
  order: 1;
}

.first-screen__achievement-item-year {
  font-size: 36px;
  color: #000;
  order: 2;
}

.first-screen__achievement-item-trade {
  color: #999;
  order: 3;
}

.title-lower {
  text-transform: lowercase;
  /*so happened i don`t like russia*/
}

.project {
  padding-top: 100px;
}

.project__subtitle {
  color: #404149;
  margin-bottom: 60px;
}

.project__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 65px;
  flex-wrap: wrap;
}

.project__list-item {
  flex-basis: 350px;
}

.project__list-item-decor {
  width: 55px;
  height: 6px;
  border-width: 0;
  background-color: #F7654A;
  margin: 45px 0 15px;
}

.project__list-item-name {
  font-size: 24px;
  color: #404149;
  margin-bottom: 20px;
}

.project__list-item-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #999;
  padding-bottom: 45px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
}

.request {
  background-color: #F7654A;
  padding: 30px 0 45px;
}

.request__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.request__slogan {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.request__btn {
  text-transform: uppercase;
  font-size: 14px;
  min-width: 175px;
  min-height: 49px;
  border: none;
  font-weight: 500;
  background: url("./src/images/icons/mail.png") no-repeat left 25px center #fff;
  font-family: inherit;
  letter-spacing: 2px;
  padding: 0 15px 0 45px;
}

.request__btn:hover {
  cursor: pointer;
}

.services {
  padding-top: 150px;
}

.services__subtitle {
  margin-bottom: 66px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  gap: 30px;
}

.services__list-item {
  background-color: #F7F7F7;
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: 25px;
}

.services__list-item-service-name {
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  max-width: 180px;
}

@media (max-width: 1080px) {
  .project__list {
    justify-content: space-evenly;
  }
}
